@{
    ViewData["Title"] = "Schedule";
}
<h1>@ViewData["Title"]</h1>
        <!-- ------------------------------------------ Search Options ------------------------------------------ --> 

    <div class="container">
        <h1>Search Options</h1>

        <hr />
    </div>
        
        
        <!-- ------------------------------------------ Schedule Table ------------------------------------------ -->
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Slot</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col"># Ctns</th>
            <th scope="col">Cube</th>
            <th scope="col">MBOL #</th>
            <th scope="col">Load #</th>
            <th scope="col">Waved</th>
            <th scope="col">TS</th>
            <th scope="col">S1</th>
            <th scope="col">S2</th>
            <th scope="col">S3</th>
            <th scope="col">L1</th>
            <th scope="col">L2</th>
            <th scope="col">L3</th>
            <th scope="col">Carrier</th>
            <th scope="col">Customer</th>
            <th scope="col">City</th>
            <th scope="col">Comments</th>
            <th scope="col">Scheduler</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
            <td>6/23/2022</td>
            <td>12:00 AM</td>
            <td>Loaded</td>
            <td>Live</td>
            <td>901</td>
            <td>3099</td>
            <td><a href="#">HJ00154992</a></td>
            <td>18297685621</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>amazon logistics</td>
            <td>AMAZON.COM</td>
            <td>Edwardsville</td>
            <td>pro 115ZVCNFX</td>
            <td>Catherine Sampson</td>
            </tr>
            <tr scope="row">
            <td>6/23/2022</td>
            <td>03:00 AM</td>
            <td>Loaded</td>
            <td>Live</td>
            <td>901</td>
            <td>3099</td>
            <td><a href="#">HJ00154989</a></td>
            <td>18297684001</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>amazon logistics</td>
            <td>AMAZON.COM</td>
            <td>Edwardsville</td>
            <td>pro 115ZVCNFX</td>
            <td>Catherine Sampson</td>
            </tr>
            <tr scope="row">
            <td>6/23/2022</td>
            <td>03:00 AM</td>
            <td>Loaded</td>
            <td>Live</td>
            <td>901</td>
            <td>3099</td>
            <td><a href="#">HJ00154990</a></td>
            <td>18297709341</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>amazon logistics</td>
            <td>AMAZON.COM</td>
            <td>Edwardsville</td>
            <td>pro 115ZVCNFX</td>
            <td>Catherine Sampson</td>
            </tr>
            <tr scope="row">
            <td>6/23/2022</td>
            <td>06:00 AM</td>
            <td>Loaded</td>
            <td>Live</td>
            <td>901</td>
            <td>3099</td>
            <td><a href="#">HJ00154535</a></td>
            <td>18229734511</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>amazon logistics</td>
            <td>AMAZON.COM</td>
            <td>Edwardsville</td>
            <td>pro 115ZVCNFX</td>
            <td>Catherine Sampson</td>
            </tr>
            <tr scope="row">
            <td>6/23/2022</td>
            <td>01:00 PM</td>
            <td>Loaded</td>
            <td>Live</td>
            <td>901</td>
            <td>3099</td>
            <td><a href="#">HJ00155128</a></td>
            <td>HJ00155128</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>amazon logistics</td>
            <td>AMAZON.COM</td>
            <td>Edwardsville</td>
            <td>pro 115ZVCNFX</td>
            <td>Catherine Sampson</td>
            </tr>
            <tr scope="row">
            <td>6/23/2022</td>
            <td>03:00 PM</td>
            <td>Loaded</td>
            <td>Live</td>
            <td>901</td>
            <td>3099</td>
            <td><a href="#">HJ00154773</a></td>
            <td>HJ00154773</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>amazon logistics</td>
            <td>AMAZON.COM</td>
            <td>Edwardsville</td>
            <td>pro 115ZVCNFX</td>
            <td>Catherine Sampson</td>
            </tr>
            <tr scope="row">
            <td>6/23/2022</td>
            <td>08:00 PM</td>
            <td>Loaded</td>
            <td>Live</td>
            <td>901</td>
            <td>3099</td>
            <td><a href="#">HJ00154993</a></td>
            <td>18297682441</td>
            <td>Yes</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>amazon logistics</td>
            <td>AMAZON.COM</td>
            <td>Edwardsville</td>
            <td>pro 115ZVCNFX</td>
            <td>Catherine Sampson</td>
            </tr>
        </tbody>    
    </table>